
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Thank you for registering with us. To see the list of the restaurants please log in at our web site.</h2>
<h2>We appritiate our buissness with us.</h2>

