@model DeliveryService.Models.Driver

@{
    ViewBag.Title = "BackgroundConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for completing the background check. It will take 2-3 business days to verify your information. You will contact you via e-mail once we finish you complete background check. </h2>

