@model DeliveryService.Models.Driver

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var message = "Welcome to the delivery service company.";
    //   var name = Model.FirstName;
    var greetingmessage = message;

}
<h2>Thank you for completing the registration proccess with us. @greetingmessage</h2>
<h2>We will contact you back once you we will verity you information.</h2>

