@model DeliveryService.Models.Driver

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Thank you for registering with us.</h2>
<h2>Log ing to our website and complete the background check before driving with us.</h2>

<img src="~/Content/Images/oldlock.jpg" style="width:1200px;height:600px;" />