@model DeliveryService.Models.Driver

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Thank you for completing the registration proccess with us.</h2>
<h2>We will contact you back once you we will verify you information.</h2>

