@{
    ViewBag.Title = "Delivery Service Inc";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <h3>Conecting you and your hunger. </h3>

    <address>
        Delivery Service Inc.<br />
        PO Box 200<br />
        Milwaukee.WI 53207<br />
        <abbr title="Phone">P:</abbr>
        414.248.5926
    </address>
</div>