@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Milwaukee, WI 53207.<br />
    <abbr title="Phone">P:</abbr>
    414.248.5926
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zhmendakmikola@yahoo.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mzhmendak@hotmail.com">Marketing@example.com</a>
</address>