
@{
    ViewBag.Title = "DeliveryCost";
}

<h2>Delivery Cost</h2>

<h2>Take 20% delivery charge for this transaction.</h2>

<button type="button" class="btn-lg btn-outline-primary" onclick="location.href='@Url.Action("Transaction", "Employers")'">20%</button>

